@media screen and (max-width: 600px)

  {
    #pageBody {
    display: flex;
    flex-flow: row;
  }

    #content  {
    flex: 3 auto;
    margin-right: 20px;
  }

  #sidebar {
    flex: 1 auto;
}
  #nav li {
  border-right: none
}


}

@media screen and (min-width:1000px) {
  .wrapper {
    display:flex;
    flex-flow: row;
    magin-right: 20px;
    margin-top: 0;
  }
  #nav li {
    border-bottom: 1px solid rgba(255,255,255, 0.5);
  }

  #nav li: last-child {
    border-bottom: none;
  }
  #content {
    order: 1;
    margin: 10px
  }
    #nav {
      order: 2;
      margin: 10px; 
    }

}
