html {
  font-size: 100%
}
p{
  color: lightblue;
  font-weight:300;
  font-family: 'Quicksand', sans-serif;
  font-size:25px;
  line-height: 1.5rem;
  text-align: center;
}

h1{
  font-family:'Taviraj', serif;
  font-weight:400;
  font-size:35px;
  text-align: center;
  color:darkgrey
}
h2{
  font-family:'Muli', sans-serif;
  font-weight:300;
  font-size:30px;
  text-align: center;
  color: darkgrey
}

#container{
  text-align: center;
  width: 90%;
  margin: 0 auto;
  background-color: white
}

#nav {
  padding: 10px;
  list-style-type: none;
  display:inline-block;
}

#nav li {
    margin: 10px;
    padding: 10px;
  border-bottom: 2px solid lightblue;
  text-decoration: none;
  float: left;
}

@media screen and (max-width: 600px) {
  #nav {
    padding: 10px;
    list-style-type: none;
    display:block;
  }

  #nav a:link, a:visited {
    display: block;
    color: purple;
    background-color: lightgrey;
    font-weight: normal;
    font-size:20px;
    text-align: center;
    padding: 8px;
    font-family: "Apple Chancery", cursive;
  }

  #nav a:hover, a:active {
      background-color: lightblue;
    }

  #nav li {
      margin: 10px;
      padding: 10px;
    border-bottom: 2px solid lightblue;
    text-decoration: none;
    float:none;
  }

img {
  border: none;

}
body {
  background-color:darkgrey
}
